In [1]:
import pandas as pd
import os

filepath = "E:/csvfile/parsed/bemp/"
filesinpath = os.listdir(filepath)
for f in sorted(filesinpath): #for each file, ran model
    print("file name:", f)
    df = pd.read_csv(filepath + f)
    df['time'] = pd.to_datetime(df['time'], format='%Y/%m/%d %H%M%S', errors='ignore')
    df = df.set_index(pd.DatetimeIndex(df['time']))
    df = df.sort_index()
    df=df.drop(columns=['time','time.1'])
    break

file name: new_data_sno_001_bemp_predict.csv

In [2]:
def update_uvi_category(df):
    UVI_val_catgory = {'>30': 8, '21-30':7, '16-20':6, '11-15':5,'7-10':4, '3-6':3, '1-2':2,'<1':1,'0':0}
    UVI_catgory = {'uvi_30': 8, 'uvi_20_30': 7, 'uvi_16_20': 6, 'uvi_11_16': 5, 'uvi_7_11': 4, 'uvi_3_7': 3, 'uvi_1_3': 2, 'uvi_1': 1, 'uvi_0': 0}
    uvi_c = pd.Series(index = df.index,data=[None for _ in range(len(df.index))])
    uvi_c[df.UVI > 30] = 'uvi_30'
    idx = (df.UVI > 20) & (df.UVI <= 30)
    uvi_c[idx] = 'uvi_20_30'
    idx = (df.UVI > 16) & (df.UVI <= 20)
    uvi_c[idx] = 'uvi_16_20'
    idx = (df.UVI > 11) & (df.UVI <= 16)
    uvi_c[idx] = 'uvi_11_16'
    idx = (df.UVI > 7) & (df.UVI <= 11)
    uvi_c[idx] = 'uvi_7_11'
    idx = (df.UVI > 3) & (df.UVI <= 7)
    uvi_c[idx] = 'uvi_3_7'
    idx = (df.UVI > 1) & (df.UVI <= 3)
    uvi_c[idx] = 'uvi_1_3'
    uvi_c[df.UVI <= 1] = 'uvi_1'
    uvi_c[df.UVI == 0] = 'uvi_0'

    uvi_c = uvi_c.map(UVI_catgory)
    #t_idx = (uvi_c.index.hour.values > 6) & (uvi_c.index.hour.values < 19)
    #uvi_c[t_idx].replace(to_replace=0, method='ffill')
    df.UVI = uvi_c
    return df

In [3]:
new_df = update_uvi_category(df)

In [4]:
draw_df = new_df[['UVI','bemp']]

In [5]:
for i in range(1,9):
    print("------"+str(i)+"--------")
    print(draw_df.bemp[draw_df.UVI == i].describe())

------1--------
count    26.000000
mean     57.500000
std      23.965392
min      34.000000
25%      34.000000
50%      57.500000
75%      81.000000
max      81.000000
Name: bemp, dtype: float64
------2--------
count    195.000000
mean      94.933333
std       27.857529
min       26.000000
25%       73.000000
50%      102.000000
75%      118.000000
max      133.000000
Name: bemp, dtype: float64
------3--------
count    871.000000
mean      83.641791
std       36.567718
min       16.000000
25%       56.000000
50%       76.000000
75%      112.000000
max      157.000000
Name: bemp, dtype: float64
------4--------
count    3870.000000
mean       87.651163
std        31.291512
min        21.000000
25%        64.000000
50%        87.000000
75%       114.000000
max       161.000000
Name: bemp, dtype: float64
------5--------
count    4692.000000
mean       88.419650
std        34.036843
min        12.000000
25%        61.000000
50%        88.000000
75%       114.000000
max       169.000000
Name: bemp, dtype: float64
------6--------
count    3588.000000
mean       92.000000
std        35.232226
min        16.000000
25%        66.000000
50%        88.500000
75%       118.000000
max       163.000000
Name: bemp, dtype: float64
------7--------
count    5590.000000
mean       92.025581
std        35.181256
min         6.000000
25%        64.000000
50%        91.000000
75%       118.000000
max       174.000000
Name: bemp, dtype: float64
------8--------
count    2405.000000
mean       95.962162
std        36.722662
min        20.000000
25%        66.000000
50%        97.000000
75%       125.000000
max       168.000000
Name: bemp, dtype: float64

In [ ]:
t_idx = (draw_df.UVI.index.hour.values > 6) & (draw_df.UVI.index.hour.values < 19)
draw_df.UVI[t_idx].replace(to_replace=0, method='ffill')

In [6]:
ddf = draw_df['20180208'].reset_index().drop_duplicates().set_index('time').sort_index()

In [9]:
t_idx = (ddf.UVI.index.hour.values > 6) & (ddf.UVI.index.hour.values < 19)
ddf.UVI[t_idx].replace(to_replace=0, method='bfill')

time
2018-02-08 07:00:00    4
2018-02-08 08:00:00    4
2018-02-08 09:00:00    6
2018-02-08 10:00:00    6
2018-02-08 11:00:00    6
2018-02-08 12:00:00    6
2018-02-08 13:00:00    6
2018-02-08 14:00:00    6
2018-02-08 15:00:00    6
2018-02-08 16:00:00    6
2018-02-08 17:00:00    0
2018-02-08 18:00:00    0
Name: UVI, dtype: int64

In [10]:
ddf

                     UVI  bemp
time
2018-02-08 00:00:00    0  92.0
2018-02-08 01:00:00    0  92.0
2018-02-08 02:00:00    0  92.0
2018-02-08 03:00:00    0  93.0
2018-02-08 04:00:00    0  94.0
2018-02-08 05:00:00    0  94.0
2018-02-08 06:00:00    0  90.0
2018-02-08 07:00:00    4  87.0
2018-02-08 08:00:00    4  84.0
2018-02-08 09:00:00    0  87.0
2018-02-08 10:00:00    6  91.0
2018-02-08 11:00:00    0  93.0
2018-02-08 12:00:00    0  76.0
2018-02-08 13:00:00    6  65.0
2018-02-08 14:00:00    0  61.0
2018-02-08 15:00:00    0  58.0
2018-02-08 16:00:00    6  50.0
2018-02-08 17:00:00    0  46.0
2018-02-08 18:00:00    0  38.0
2018-02-08 19:00:00    0  44.0
2018-02-08 20:00:00    0  53.0
2018-02-08 21:00:00    0  54.0
2018-02-08 22:00:00    0  56.0
2018-02-08 23:00:00    0  56.0

In [ ]:
uvi_mean

In [ ]:
pre

In [ ]:
nxt

In [ ]:
tmpdf